body{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    background-color: rgb(245, 245, 245);
}

.container{
    width: 80%;
    margin: auto;
}

ul{
    margin: 0;
    padding: 0;
}
header{
    background: turquoise;
    color: violet;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: green;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

}

header li{
    display: inline;
    padding: 0px;
}

header .branding{
    float: left;

}

header .nav{

    float: right;
    margin-top: 20px;



}

header.highlight{
    color: #ffc600;
    weight:
}

header a:hover{
    color: #ffc600;
    font-weight: ;
}

#showcase{
    min-height: ;
    background-image: ;
    background-repeat: no-repeat;
    
    background-position: 0 -500px;
    text-align: ;


    
}
#showcase h1{
    font-size: 55px;
}

#showcase p{
    font-size: 20px;
}

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float:left;
    text-align: center;
    width: 30%;
    padding: 10px;    
}

#boxes .box img{
    
}

}